<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="gear foundry test suite">
            <directory>./Support/UnitTest/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Support/UnitTest/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>